<!-- src/app/header/header.component.html -->
<mat-toolbar color="accent">
  <div class="header">
    <div>
      <div class="left-nav">
        <a class="header-link" routerLink="questionnaires">Questionnaires</a>
      </div>
    </div>
    <div><a routerLink="">Tap Vote</a></div>
    <div>
      <div class="overflow-menu">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Navigation menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="right-nav">
        <a class="header-link" routerLink="about">About</a>
      </div>
    </div>
  </div>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button routerLink="questionnaires" mat-menu-item>Questionnaires</button>
  <button routerLink="about" mat-menu-item>About</button>
  <button routerLink="" mat-menu-item>Home</button>
</mat-menu>
