// src/app/questionnaires/questionnaires.component.scss

.questionnaires {
  height: calc(100vh - 5rem - 1rem);
  width: 100%;
  overflow: scroll;
}

mat-drawer {
  min-width: 15rem;
}

.open-drawer {
  position: fixed;
}

.questionnaire-actions {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.loading {
  width: 100%;
  height: calc(100vh - 5rem - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionnaire {
  padding: 2rem 2rem 2rem 2rem;

  .questionnaire-name {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  .sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section {
    width: 20rem;
    padding: 0 1rem 1rem 1rem;
  }

  .section-name {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
  }

  .questions {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }

  .question {
    padding-bottom: 0.5rem;
    font-weight: bold;
  }

  .radio-options {
    display: flex;
    flex-direction: column;

    > mat-radio-button {
      &:not(:last-child) {
        padding-bottom: 0.25rem;
      }
    }
  }

  .result {
    color: red;
    position: absolute;
    padding-top: 0.5rem;

    &[correct] {
      color: green;
    }
  }
}
